@using TestCasesInventory.Presenter.Models
@model TeamDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    @*<dl class="dl-horizontal">
        <dt>
            <label>Member</label>
        </dt>
        <dd>
            <ul style="list-style-type:none; margin-left:-40px">
                @foreach (var mail in mails)
                {
                    <li>@mail</li>
                }
            </ul>
        </dd>
    </dl>*@

</div>
<br>
<p>
    @Html.ActionLink("Add new member", "AddMember", new { id = Model.ID }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>