@using TestCasesInventory.Presenter.Models
@model TeamViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            Created
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            CreatedDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            LastModified
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            LastModifiedDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
    </dl>
</div>
<br>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>