@using TestCasesInventory.Presenter.Models
@model List<TeamViewModel>
@{
    ViewBag.Title = "Team Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>List of teams</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h4>Name</h4>
        </th>
        <th>
            <h4>Number of members</h4>
        </th>
        <th>
            <h4>Created By</h4>
        </th>
        <th>
            <h4>Last Modified By</h4>
        </th>
        <th>
            <h4>Created Date</h4>
        </th>
        <th>
            <h4>Last Modified Date</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembersNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })  |
                @Html.ActionLink("Add Users", "AssignUsersToTeam", new { id = item.ID })
            </td>
        </tr>
    }

</table>

