@using TestCasesInventory.Presenter.Models
@using PagedList;
@using PagedList.Mvc;
@using TestCasesInventory.Web.Common.Utils;
@model PagedList.IPagedList<TeamViewModel>
@{
    ViewBag.Title = "Team Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Teams</h3>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

@Html.Action("FilterForTeam", "Filter", new { area = "" })

<table class="table table-bordered">
    <tr>
        <th>
            <h4>@Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortByName, searchByName = Request.QueryString["searchByName"] })</h4>
        </th>
        <th>
            <h4>@Html.ActionLink("Number of Members", "Index", new { sortBy = ViewBag.SortByMembersNumber, searchByName = Request.QueryString["searchByName"] })</h4>
        </th>
        <th>
            <h4>Created By</h4>
        </th>
        <th>
            <h4>Last Modified By</h4>
        </th>
        <th>
            <h4>Created</h4>
        </th>
        <th>
            <h4>Last Modified</h4>
        </th>
        <th>
            <h4>Actions</h4>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembersNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })  |
                @Html.ActionLink("Add Users", "AssignUsersToTeam", new { id = item.ID })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Request.AddQueryString(new KeyValuePair<string, string>("p", page.ToString())))

