@using TestCasesInventory.Presenter.Models
@using PagedList;
@using PagedList.Mvc;
@using TestCasesInventory.Web.Common.Utils;

@model PagedList.IPagedList<TestSuiteViewModel>
@{
    ViewBag.Title = "TestSuite Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>List of TestSuites</h3>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

@Html.Action("FilterForTestSuite", "Filter", new { area = "" })

<table class="table">
    <tr>
        <th>
            <h4>
                @Html.SortableLink(Request, "Title", "Title")

            </h4>
        </th>
        <th>
            <h4>@Html.SortableLink(Request, "Team", "Team")</h4>
        </th>
        <th>
            <h4>Created By</h4>
        </th>
        <th>
            <h4>Last Modified By</h4>
        </th>
        <th>
            <h4>Created Date</h4>
        </th>
        <th>
            <h4>Last Modified Date</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID, sortBy = "", searchByTitle = "" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })  |
                @Html.ActionLink("Add TestCase", "AddTestCase", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, valueToSearch = Request.QueryString["valueToSearch"], sortBy = Request.QueryString["sortBy"], searchBy = Request.QueryString["searchBy"] }))

