<!DOCTYPE html>
<html>
@Html.Partial("require_file/_Header")
<body class="skin-blue layout-top-nav">
    <div class="wrapper">
        @Html.Partial("AnonymousContent/_TopNav")
        <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
    @Html.Partial("require_file/_JsBundle");
   @Html.Partial("AnonymousContent/_Init-Icheck")
</body>
</html>
