@using TestCasesInventory.Presenter.Models
@using PagedList;
@using PagedList.Mvc;
@using TestCasesInventory.Web.Common.Utils;

@model PagedList.IPagedList<TestRunResultViewModel>
@{
    ViewBag.Title = "TestRun Result Home Page";
}

@Html.Action("FilterForTestRunResult", "Filter", new { area = "" })

<table class="table table-bordered">
    <tr>
        <th>
            <h4>@Html.SortableLink(Request, "TestRunID", "TestRunID")</h4>
        </th>
        <th>
            <h4>@Html.SortableLink(Request, "Status", "Status")</h4>
        </th>
        <th>
            <h4>@Html.SortableLink(Request, "CreatedBy", "Created By")</h4>
        </th>
        <th>
            <h4>@Html.SortableLink(Request, "LastModifiedBy", "Last Modified By")</h4>
        </th>
        <th>
            <h4>@Html.SortableLink(Request, "Created", "Created")</h4>
        </th>
        <th>
            <h4>@Html.SortableLink(Request, "LastModified", "Last Modified")</h4>
        </th>
        <th>
            <h4>Actions</h4>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestRunID)
            </td>
            <td>
                <span class="label label-@item.StatusStyleClass ">@Html.DisplayFor(modelItem => item.Status) </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDisplayOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDisplayOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.ID, sortBy = "", searchByTitle = "" })*@
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Request.AddQueryString(new KeyValuePair<string, string>("p", page.ToString())))

