@using TestCasesInventory.Presenter.Models
@model List<TestCaseViewModel>
@{
    ViewBag.Title = "TestCase Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>List of TestCases</h3>
@ViewBag.ID
<p>
    @Html.ActionLink("Create New", "Create", new { testSuiteID = ViewBag.TestSuiteID})
</p>
<table class="table">
    <tr>
        <th>
            <h4>Title</h4>
        </th>
        <th>
            <h4>TestSuite</h4>
        </th>
        <th>
            <h4>Created By</h4>
        </th>
        <th>
            <h4>Last Modified By</h4>
        </th>
        <th>
            <h4>Created Date</h4>
        </th>
        <th>
            <h4>Last Modified Date</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestSuiteTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

