@using TestCasesInventory.Presenter.Models
@using PagedList;
@using PagedList.Mvc;
@using TestCasesInventory.Web.Common.Utils;

@model  IPagedList<UsersNotBelongRoleViewModel>

@Html.Action("FilterForAddUserToRole", "Filter", new { area = "" })
<form action="~/Admin/Role/AddUsersToRole/@ViewBag.RoleID" method="post">
    <table class="table">
        <tr>
            <th>Email</th>
            <th>Display Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" id=@item.ID name="usersNotBelongRole" value="@item.ID" />
                    <label for="@item.ID"> @item.Email</label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
            </tr>
        }
    </table>
    @Html.PagedListPager(Model, page => Request.AddQueryString(new KeyValuePair<string, string>("p", page.ToString())))
    <input type="submit" value="Add to Role" name="buttonSubmitIn" class="btn btn-default" />
</form>
