@using TestCasesInventory.Presenter.Models
@using TestCasesInventory.Web.Common.Utils
@model List<TabViewModel>
<ul class="nav nav-tabs" id="user-list">
    @foreach (var tab in Model)
    {
        <li class="@TabHelper.TabStateClass(tab.IsActive)"><a data-toggle="tab" href="#@tab.ID">@tab.Name</a></li>
    }
</ul>

<div class="tab-content">
    @foreach (var tab in Model)
    {
        <div id="@tab.ID" class="tab-pane fade in @TabHelper.TabContentStateClass(tab.IsActive)" active":"tab-content"">
            @Html.Action(tab.Action, tab.Controller)
        </div>
    }
</div>
