@using TestCasesInventory.Presenter.Models
@model TestRunViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDetailLayout.cshtml";
}
<h3>Details</h3>

<div>
    <h4>TestRun: @Model.Title</h4>
    <hr />
    <div class="information-test-suite-area bg-gray">
        <dl class="dl-horizontal">
            <dt>
                Title
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                Description
            </dt>
            <dd>
                @Html.Raw(@Model.Description)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                Team
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TeamNameDisplayOnly)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                Number of Test Cases
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TestCasesNumber)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                Created by
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                LastModified by
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastModified)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                Created
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>
                LastModified
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastModifiedDate)
            </dd>
        </dl>
    </div>
</div>
<br>
<div>
    <div class="test-cases-area bg-gray">
        <p>
            <b>TestCases for @Model.Title</b>
            <a href="#" id="show-testrun-popup" data-test-run="@Model.ID" class="modal-link btn btn-default">Select TestCases</a>
            <a href="#" id="run-testrun-popup" data-test-run="@Model.ID" class="modal-link-run-testrun btn btn-default">Run</a>
        </p>
    </div>
    @Html.Action("Index", "TestCasesInTestRun", new { testRunID = Model.ID })
    <div class="test-cases-area bg-gray">
        <p>
            <b>TestRun Results for @Model.Title</b>
        </p>
    </div>
    @Html.Action("Index", "TestRunResult", new { testRunID = Model.ID })
</div>
<br>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@* The place where the dialog will be loaded.*@
@{  Html.RenderPartial("TestRun/_AddTestCaseToTestRunPopUpTemplatePartial"); }
@{  Html.RenderPartial("TestCaseInTestRun/_AssignToUserPopUpTemplatePartial"); }
@{  Html.RenderPartial("TestRunResult/_RunTestRunPopUpPartial", Model); }
@{  Html.RenderPartial("TestRunResult/_FinishTestRunResultPopUpPartial"); }

<div class="show-message">
   <h5><b> Assigned successfully! </b></h5>
</div>

