@using TestCasesInventory.Presenter.Models
@model TestRunViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDetailLayout.cshtml";
}
<h3>Details</h3>

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">TestRun: @Model.Title</h3>
            </div>
            <div class="box-body">
                <strong>
                    <i></i>
                    Title
                </strong>
                <p>@Model.Title</p>
                <strong>
                    <i></i>
                    Description
                </strong>
                <p>@Model.Description</p>
                <strong>
                    <i></i>
                    Team
                </strong>
                <p>@Model.TeamNameDisplayOnly</p>
                <strong>
                    <i></i>
                    Number of Test Cases
                </strong>
                <p>@Model.TestCasesNumber </p>
                <strong>
                    <i></i>
                    Created by
                </strong>
                <p>@Model.Created</p>
                <strong>
                    <i></i>
                    LastModified by
                </strong>
                <p>@Model.LastModified</p>
                <strong>
                    <i></i>
                    Created
                </strong>
                <p>@Model.CreatedDate</p>
                <strong>
                    <i></i>
                    LastModified
                </strong>
                <p>@Model.LastModifiedDate</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <b>TestCases for @Model.Title</b>
                <div class="pull-right">
                    <a href="#" id="show-testrun-popup" data-test-run="@Model.ID" class="modal-link btn btn-primary">Select TestCases</a>
                    <a href="#" id="run-testrun-popup" data-test-run="@Model.ID" class="modal-link-run-testrun btn btn-info">Run</a>
                </div>
            </div>
        </div>
        @Html.Action("Index", "TestCasesInTestRun", new { testRunID = Model.ID })
        @Html.Action("Index", "TestRunResult", new { testRunID = Model.ID })
    </div>
</div>
<br>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@* The place where the dialog will be loaded.*@
@{  Html.RenderPartial("TestRun/_AddTestCaseToTestRunPopUpTemplatePartial"); }
@{  Html.RenderPartial("TestCaseInTestRun/_AssignToUserPopUpTemplatePartial"); }
@{  Html.RenderPartial("TestRunResult/_RunTestRunPopUpPartial", Model); }
@{  Html.RenderPartial("TestRunResult/_FinishTestRunResultPopUpPartial"); }

@*<div class="show-message">
   <h5><b> Assigned successfully! </b></h5>
</div>*@

